.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding:3%;
    border-radius: 10px;
    background-color: #161b22;
    color: #fcfbfc;
   
   
    .Innercontainer{
     width: 70%;
    display: flex;
    align-items: center;
    gap:7%;
     }

    img{
      border-radius: 50%;
      width:120px;
      height:120px;
     }
    .containerBox{    
        text-align: left;
         line-height: 1px;
       h2{
        font-weight:400;
       }
       a{
        text-decoration: none;color:#fcfbfc;
       }
  
            .dataFlex{
            display: flex;
            align-items: center;
            gap:5px;
            font-size: 15px;
            }

            
    
}



}
