.btn{
padding:3% 5%;
background-Color:transparent;
border:1px solid #5526af; 
font-weight: 600;
color:#5526af;
border-radius: 5px;
transition: 0.4s;
text-transform: uppercase;
cursor: pointer;
}
.btn:hover{
    background-color:#5526af;
    color:white;
}